@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

body {
    margin: 0px;
    overflow-x: hidden;
    background-color: #F6FBFF;
}

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.main1-img {
    width: 100vw;
}
.text-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px 15px 40px 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.text-box-wrap {
    display: flex;
    flex-direction: column;
    width: 291px;
}

.text-title {
    color: #797979;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 8px;
}

.text-body {
    color: #858585;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
}
.button-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 15px 20px 15px;
    background-color: #F6FBFF;
    align-items: center;
}

.event-btn {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 75px;
    background: #0960B0;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 18px;
    text-decoration: none;

}

.event-btn .btn-content1 {
    display: inline-block;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.event-btn .btn-content2 {
    display: inline-block;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.warn-box {
    display: flex;
    flex-direction: column;

}
.row {
    display: flex;
    flex-direction: row;
    line-height: 14px;
}
.row .star{
    margin-right: 4px;
}
.row span {
    color: #858585;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}